.active {
    background-color: var(--purple700);
    color: var(--white900);
}
.filtersAll {
    font-size: 14px;
    max-width: max-content;
    color: var(--purple800);
    transition: opacity 0.1s ease-in-out;

    &:hover {
        text-decoration: underline;
        opacity: 0.8;
        transition: opacity 0.1s ease-in-out;
    }
    &:active {
        opacity: 0.6;
        transition: opacity 0.1s ease-in-out;
    }
}
.sectionTitle {
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--black700);
}
.filtersList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
}
.counter {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 12px;
    max-width: max-content;
    min-width: 115px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid var(--black200);
}
.counterNumber {
    display: block;
    margin: 0 auto;
}
.counterBtn {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}