.searchWrap {
    position: relative;
}
.searchIcon {
    position: absolute;
    top: 14px;
    left: 24px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.searchInput {
    padding: 13px 24px 13px 52px;
    width: 100%;
    height: 48px;
    border-radius: 68px;
    border: 1px solid var(--black50);
    background-color: var(--white900);

    &::placeholder {
        color: var(--black300);
    }
}
.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sectionTitle {
    font-size: 14px;
    color: var(--black700);
    opacity: 0.66;
}
.filtersList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.filtersAll {
    max-width: max-content;
    color: var(--purple800);
    transition: opacity 0.1s ease-in-out;

    &:hover {
        text-decoration: underline;
        opacity: 0.8;
        transition: opacity 0.1s ease-in-out;
    }
    &:active {
        opacity: 0.6;
        transition: opacity 0.1s ease-in-out;
    }
}
.filterActive {
    background-color: var(--purple700);
    color: var(--white900);
}
.filterInactive {
    pointer-events: none;
    cursor: default;
}
@media(max-width: 1024px) {
    .filtersList {
        max-height: 500px;
        overflow-y: auto;
    }
}
